<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <!-- 콘솔어펜더 추가 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- 파일어펜더 추가 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/noah/noahshop-log/exception.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>/Users/noah/noahshop-log/exception.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--
        로거 설정
    -->
    <logger name="com.cafe24.noahshop.exception"  level="info" additivity="false">
        <appender-ref ref="fileAppender" />
        <appender-ref ref="consoleAppender" />
    </logger>

    <!-- 루트(글로벌) 로거 -->
    <root level="debug">
        <appender-ref ref="consoleAppender" />
    </root>

</configuration>